HELP.md
target/
pom.xml.tag
pom.xml.realseBackup
pom.xml.next
realse.properties
dependency-reduced-pom.xml
builderNumber.properties
/.mvn/timing.properties
#https://github.com/takari/maven-wrapper#usage-without-biinary-jar
.mvn/wrapper/maven-wrapper.jar

###STS###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


###Intellij IDEA##
.idea
*.iws
*.iml
*.ipr


###NetBeans##
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS code###
.vscode/